---
const PROJECTS = [
    {
        title:"Project 1",
        description: "Description",
        link: "#",
        github: "#",
        image: "https://via.placeholder.com/300x200",
        tags: ['SWIFTUI', 'FIREBASE', 'COREDATA']
    }
]
---

{
    PROJECTS.map(({title, description, tags, image}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
               {tags.map(tag => (
                <li>{tag}</li>
               ))}
            </ul>
            <img src={image} alt={title}/>
        </article>
    ))
}